footer
    .footer_inner 
        .footer_logos
            img.footer_logo(src="../assets/img/calidad-sabro-separado-blanco.svg", alt="")
            img.footer_logo(src="../assets/img/siempre-fresco-blanco.svg", alt="")
            img.footer_logo(src="../assets/img/siempre-confiable-blanco.svg", alt="")
            
            a(href="tel:8000072276")
                img.footer_logo(src="../assets/img/numtel.svg", alt="")

        span.legal Aviso de Privacidad Derechos Reservados ®

                
