header
    .header_inner 
        a(href="/").logo_sabropollo
            img(src="assets/img/logo_sabropollo.svg", alt="")

        a(href="/", data-manuname="home").menu_name ¿quiénes somos?
            img(src="assets/img/menu_selected.svg", alt="")
       
        a(href="/productos.html", data-manuname="productos").menu_name productos
            img(src="assets/img/menu_selected.svg", alt="")
       
        a(href="/sabrotips.html", data-manuname="sabrotips").menu_name sabrotips
            img(src="assets/img/menu_selected.svg", alt="")
       
        a(href="recetas.html", data-manuname="recetas").menu_name recetas
            img(src="assets/img/menu_selected.svg", alt="")
      
        a(href="calidad.html", data-manuname="calidad").menu_name calidad sabro
            img(src="assets/img/menu_selected.svg", alt="")
       
        a(href="expendios.html", data-manuname="expendios").menu_name expendios
            img(src="assets/img/menu_selected.svg", alt="")
      
        a(href="contacto.html", data-manuname="contacto").menu_name contacto
            img(src="assets/img/menu_selected.svg", alt="")
      
        a(href="mailto:example@site.com").mail_icon
            img(src="assets/img/mail_icon.svg", alt="")
      
        a(href="tel:56581111").phone_icon
            img(src="assets/img/phone_icon.svg", alt="")
        

                
