extends layout/layout.pug
block title
    title Sabropollo - sabrotips

block content

    main(data-namesection="expendios")

        include shared/header.pug
        
        include modules/_expendios.pug
            
   
        
    
        

    
