extends layout/layout.pug
block title
    title Aliamsa | Productos

block content

    main(data-namesection="productos")

        include shared/header.pug
        
        include modules/_productos-cerdos.pug
            
   
        
    
        

    
