doctype html
html
    head
        //include ../snippets/analytics.pug
        //include ../snippets/tagManagerHead.pug
        
        include ../snippets/metatags.pug
        
        block title
            
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap", rel="stylesheet")
        
    body
        
        
        //include ../snippets/tagManagerBody.pug
        //include ../shared/header.pug
        
        block content

        script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")

        script(src="../assets/js/external/expendios-pollo.js")
        script(src="../assets/js/external/directorio-ventas.js")
        
        

        
            

