.overlaymenu
header
    .header_inner 
        .bgmenu
            svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 375 667" style="enable-background:new 0 0 375 667;" xml:space="preserve")
                
                path#bgmenucard_small.st1(d='M0,29l8.4,0c3.9-0.4,5.8-2.9,5.7-7.4c-0.1-4.5,0-11.7,0-21.6L0,0V29z')
                path#bgmenucard.st1(d='M0,648l187.8-0.1c86.7-9.7,129.3-64.8,127.9-165.4s-0.7-261.5,0-482.5L0,0V648z')


        .hamburguer
            img(src="../assets/img/hamburguer.svg", alt="").open_menu
            img(src="../assets/img/close-menu.svg", alt="").close_menu

        a(href="/interpec").logo_sabro
            img(src="../assets/img/logo_interpec.svg", alt="")

        .menu_name#marcas_menu(data-manuname="home")
            a(href="/interpec") nuestras marcas
                img(src="../assets/img/menu_selected.svg", alt="")
            ul#submenu
                li.subMenuBtn
                    a(href="/pollo") Sabro pollo
                li.subMenuBtn
                    a(href="/huevo") Sabro huevo
                li.subMenuBtn
                    a(href="/aliamsa") Aliamsa
                li.subMenuBtn
                    a(href="/interpec") Grupo Interpec
            
       
       
      
        .menu_name#contacto_menu(data-manuname="contacto")
            a(href="/interpec/ventas.html") contacto
                img(src="../assets/img/menu_selected.svg", alt="")
            ul#submenu_contacto
                li.subMenuBtn
                    a(href="/interpec/ventas.html") Directorio de ventas

      
        a(href="mailto:servicioaclientes@sabro.com.mx").mail_icon
            img(src="../assets/img/mail_icon.svg", alt="")
      
        a(href="tel:8000072276").phone_icon
            img(src="../assets/img/phone_icon.svg", alt="")
        

                
