#productos
    .slideshow_wrapper.prevent_slider
        .swiper-wrapper
            .swiper-slide
                .media_container(style="background-image: url('../assets/img/productos-aliamsa.jpg')")
                    .overlay
                .info_container
                    //- h1.tile Productos
                    //-     img.salpicon(src="../assets/img/salpicon.svg", alt="")
                    //- p.description 
                    

        .scroll_icon
            svg(width='39px', height='29px', viewBox='0 0 39 29')    
                polyline#pscroll-1(points='12,0 19,7 26,0')
                polyline#pscroll-2(points='7,4 19,16 31,4')
                polyline#pscroll-3(points='0,8 18.5,26 37,8')

    .section_content.container-fluid
        .top_section_mask
            svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1919 256.6" style="enable-background:new 0 0 1919 256.6;" xml:space="preserve")
                
                path#ondita.st1(d='M1919,0v256.6H0V0C0,0,910.7,506.8,1919,0z')
                path#planicie.st1(d='M1919,228.4v28.2H0v-28.2H1919z')
                
        .row.justify-content-center
            .col-xs-12.col-lg-10.text-center
                .title_sabro
                    h2 productos
                        img.salpicon(src="../assets/img/salpicon-black.svg", alt="")
                    img.menu_selected(src="../assets/img/menu_selected.svg", alt="")
                    
                .categorias_producto.ishuevo
                    a.catname_producto.cat_selected(href="/aliamsa/alimento-aves.html") aves
                    .sepcat
                    a.catname_producto(href="/aliamsa/alimento-ganado.html") ganado
                    .sepcat
                    a.catname_producto(href="/aliamsa/alimento-cerdos.html") Cerdos
    
    .container-fluid
        .row.justify-content-center
            .col-xs-12.col-lg-10
                .row.producto_grid


                    //////////////////////////////////////////////////////////////////////////////////////////
                    //////////////////////////////////////////////////////////////////////////////////////////
                    .col-xs-12.col-md-12.product_container
                        .row.product_wrapper
                            .col-md-5.col-xs-12
                                .left_prod
                                    img.product_image(src="../assets/img/alimento-aves.jpg", alt="")
                                    
                            .col-md-7
                                .row 
                                    .col-md-12
                                        h1.product_name Alimento para aves. A-500-1

                                    .col-md-6
                                        img.spec_img(src="../assets/img/prod_icon_badge.svg", alt="")
                                        span.spec_name Descripción
                                        .spec_content Alimento Medicado para Aves ponedoras en iniciación

                                        
                                        

                                    .col-md-6
                                        img.spec_img(src="../assets/img/prod_icon_plus.svg", alt="")
                                        span.spec_name Información nutrimental 
                                        .spec_content Proteína Cruda % Min.
                                            span.nutri_value 20.0
                                        .spec_content Grasa Cruda % Min.
                                            span.nutri_value 2.0
                                        .spec_content E.I.N. % 
                                            span.nutri_value 55.0
                                        .spec_content Fibra Cruda % Máx.
                                            span.nutri_value 5.0
                                        .spec_content Ceniza % Máx.
                                            span.nutri_value 6.0
                                        .spec_content Húmedad % Máx.
                                            span.nutri_value 12.0
                    //////////////////////////////////////////////////////////////////////////////////////////
                    //////////////////////////////////////////////////////////////////////////////////////////
                    .col-xs-12.col-md-12.product_container
                        .row.product_wrapper
                            .col-md-5.col-xs-12
                                .left_prod
                                    img.product_image(src="../assets/img/alimento-aves.jpg", alt="")
                                    
                            .col-md-7
                                .row 
                                    .col-md-12
                                        h1.product_name Alimento para aves. A-520-1

                                    .col-md-6
                                        img.spec_img(src="../assets/img/prod_icon_badge.svg", alt="")
                                        span.spec_name Descripción
                                        .spec_content Alimento Medicado para Aves de Postura en Desarrollo

                                        
                                        

                                    .col-md-6
                                        img.spec_img(src="../assets/img/prod_icon_plus.svg", alt="")
                                        span.spec_name Información nutrimental 
                                        .spec_content Proteína Cruda % Min.
                                            span.nutri_value 13.0
                                        .spec_content Grasa Cruda % Min.
                                            span.nutri_value 2.0
                                        .spec_content E.I.N. % 
                                            span.nutri_value 57.0
                                        .spec_content Fibra Cruda % Máx.
                                            span.nutri_value 8.0
                                        .spec_content Ceniza % Máx.
                                            span.nutri_value 8.0
                                        .spec_content Húmedad % Máx.
                                            span.nutri_value 12.0
                    //////////////////////////////////////////////////////////////////////////////////////////
                    //////////////////////////////////////////////////////////////////////////////////////////
                    .col-xs-12.col-md-12.product_container
                        .row.product_wrapper
                            .col-md-5.col-xs-12
                                .left_prod
                                    img.product_image(src="../assets/img/alimento-aves.jpg", alt="")
                                    
                            .col-md-7
                                .row 
                                    .col-md-12
                                        h1.product_name Alimento para aves. A-530-1

                                    .col-md-6
                                        img.spec_img(src="../assets/img/prod_icon_badge.svg", alt="")
                                        span.spec_name Descripción
                                        .spec_content Alimento Medicado Aves de Postura

                                        
                                        

                                    .col-md-6
                                        img.spec_img(src="../assets/img/prod_icon_plus.svg", alt="")
                                        span.spec_name Información nutrimental 
                                        .spec_content Proteína Cruda % Min.
                                            span.nutri_value 15.5
                                        .spec_content Grasa Cruda % Min.
                                            span.nutri_value 5.0
                                        .spec_content E.I.N. % 
                                            span.nutri_value 42.5
                                        .spec_content Fibra Cruda % Máx.
                                            span.nutri_value 10.0
                                        .spec_content Ceniza % Máx.
                                            span.nutri_value 15.0
                                        .spec_content Húmedad % Máx.
                                            span.nutri_value 12.0
                    //////////////////////////////////////////////////////////////////////////////////////////
                    //////////////////////////////////////////////////////////////////////////////////////////
                    .col-xs-12.col-md-12.product_container
                        .row.product_wrapper
                            .col-md-5.col-xs-12
                                .left_prod
                                    img.product_image(src="../assets/img/alimento-aves.jpg", alt="")
                                    
                            .col-md-7
                                .row 
                                    .col-md-12
                                        h1.product_name Alimento para aves. A-540-1

                                    .col-md-6
                                        img.spec_img(src="../assets/img/prod_icon_badge.svg", alt="")
                                        span.spec_name Descripción
                                        .spec_content Alimento Medicado Aves Ponedoras en Jaula

                                        
                                        

                                    .col-md-6
                                        img.spec_img(src="../assets/img/prod_icon_plus.svg", alt="")
                                        span.spec_name Información nutrimental 
                                        .spec_content Proteína Cruda % Min.
                                            span.nutri_value 16.0
                                        .spec_content Grasa Cruda % Min.
                                            span.nutri_value 2.0
                                        .spec_content E.I.N. % 
                                            span.nutri_value 52.0
                                        .spec_content Fibra Cruda % Máx.
                                            span.nutri_value 6.0
                                        .spec_content Ceniza % Máx.
                                            span.nutri_value 12.0
                                        .spec_content Húmedad % Máx.
                                            span.nutri_value 12.0
                    //////////////////////////////////////////////////////////////////////////////////////////
                    //////////////////////////////////////////////////////////////////////////////////////////
                    .col-xs-12.col-md-12.product_container
                        .row.product_wrapper
                            .col-md-5.col-xs-12
                                .left_prod
                                    img.product_image(src="../assets/img/alimento-aves.jpg", alt="")
                                    
                            .col-md-7
                                .row 
                                    .col-md-12
                                        h1.product_name Alimento para aves. A-600

                                    .col-md-6
                                        img.spec_img(src="../assets/img/prod_icon_badge.svg", alt="")
                                        span.spec_name Descripción
                                        .spec_content Alimento medicado para Pollo de Engorda en Iniciación

                                        
                                        

                                    .col-md-6
                                        img.spec_img(src="../assets/img/prod_icon_plus.svg", alt="")
                                        span.spec_name Información nutrimental 
                                        .spec_content Proteína Cruda % Min.
                                            span.nutri_value 20.0
                                        .spec_content Grasa Cruda % Min.
                                            span.nutri_value 2.5
                                        .spec_content E.I.N. % 
                                            span.nutri_value 53.0
                                        .spec_content Fibra Cruda % Máx.
                                            span.nutri_value 4.5
                                        .spec_content Ceniza % Máx.
                                            span.nutri_value 8.0
                                        .spec_content Húmedad % Máx.
                                            span.nutri_value 12.0
                    //////////////////////////////////////////////////////////////////////////////////////////
                    //////////////////////////////////////////////////////////////////////////////////////////
                    .col-xs-12.col-md-12.product_container
                        .row.product_wrapper
                            .col-md-5.col-xs-12
                                .left_prod
                                    img.product_image(src="../assets/img/alimento-aves.jpg", alt="")
                                    
                            .col-md-7
                                .row 
                                    .col-md-12
                                        h1.product_name Alimento para aves. A-610-1

                                    .col-md-6
                                        img.spec_img(src="../assets/img/prod_icon_badge.svg", alt="")
                                        span.spec_name Descripción
                                        .spec_content Alimento medicado para Pollo de Engorda Finalizador

                                        
                                        

                                    .col-md-6
                                        img.spec_img(src="../assets/img/prod_icon_plus.svg", alt="")
                                        span.spec_name Información nutrimental 
                                        .spec_content Proteína Cruda % Min.
                                            span.nutri_value 19.0
                                        .spec_content Grasa Cruda % Min.
                                            span.nutri_value 2.5
                                        .spec_content E.I.N. % 
                                            span.nutri_value 54.5
                                        .spec_content Fibra Cruda % Máx.
                                            span.nutri_value 5.0
                                        .spec_content Ceniza % Máx.
                                            span.nutri_value 7.0
                                        .spec_content Húmedad % Máx.
                                            span.nutri_value 12.0
                    
                    
                      
                                            
                                            
                                            
                                        




    include ../shared/footer.pug