footer
    .footer_inner 
        .footer_logos
            img.footer_logo(src="../assets/img/calidad-sabro-separado-blanco.svg", alt="")
            img.footer_logo(src="../assets/img/siempre-fresco-blanco.svg", alt="")
            img.footer_logo(src="../assets/img/siempre-confiable-blanco.svg", alt="")
            
            a(href="tel:8000072276")
                img.footer_logo.phonecontact(src="../assets/img/numtel-aliam.svg", alt="")

            a(href="https://www.facebook.com/Sabro-Oficial-119650596100470/", target="_blank")
                img.footer_logo.social(src="../assets/img/social-fb.svg", alt="")
            a(href="https://www.instagram.com/sabrooficial/?igshid=mr9kdm8g2nik", target="_blank")
                img.footer_logo.social(src="../assets/img/social-ig.svg", alt="")
            a(href="https://www.youtube.com/channel/UC-s7zBE3fNOm7WHaDowFHWg", target="_blank")
                img.footer_logo.social(src="../assets/img/social-yt.svg", alt="")

        span.legal Aviso de Privacidad Derechos Reservados ®

                
