#calidad
    .slideshow_wrapper.prevent_slider
        .swiper-wrapper
            
            .swiper-slide
                .media_container
                    video.bgvideo(poster='', loop='', muted='', control='', autoplay='', playsinline='')
                        source(src='../assets/img/videocalidad.mp4', type='video/mp4')
                    .overlay
                .info_container
                    h1.tile calidad sabro
                        img.salpicon(src="../assets/img/salpicon.svg", alt="")
                    p.description Los productos SABROPOLLO, han sido procesados bajo los controles establecidos por nuestro Sistema de Calidad Interpec, aprobados por BVQI Mexicana, S.A. de C.V., y que cumple con los requisitos nacionales e internacionales de FSSC 22000 mediante el certificado IND18.3834 para Rastro 1 e IND19.3257 para Rastro 2.
                    

        .scroll_icon
            svg(width='39px', height='29px', viewBox='0 0 39 29')    
                polyline#pscroll-1(points='12,0 19,7 26,0')
                polyline#pscroll-2(points='7,4 19,16 31,4')
                polyline#pscroll-3(points='0,8 18.5,26 37,8')

    .section_content.container-fluid#calidad
        .top_section_mask
            svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1919 256.6" style="enable-background:new 0 0 1919 256.6;" xml:space="preserve")
                
                path#ondita.st1(d='M1919,0v256.6H0V0C0,0,910.7,506.8,1919,0z')
                path#planicie.st1(d='M1919,228.4v28.2H0v-28.2H1919z')
                
        .row.justify-content-center
            .col-xs-12.col-lg-10.text-center
                .title_sabro 
                    h2 Política Integral de Calidad
                        img.salpicon(src="../assets/img/salpicon-black.svg", alt="")
                    img.menu_selected(src="../assets/img/menu_selected.svg", alt="")
                

                .slideshow_paragraph
                    .swiper-wrapper
                        .swiper-slide
                            p.paragraph_sabro Estamos comprometidos en producir y comercializar pollo, huevo y alimento balanceado para animales con la más alta calidad e inocuidad, cumpliendo con los requisitos legales aplicables, previniendo los riesgos a la salud y seguridad de nuestros colaboradores, cuidando el medio ambiente, y mejorando continuamente para satisfacer a nivel de excelencia las necesidades de nuestros clientes.
                        .swiper-slide
                            p.paragraph_sabro Estamos comprometidos en producir y comercializar pollo, huevo y alimento balanceado para animales con la más alta calidad e inocuidad, cumpliendo con los requisitos legales aplicables, previniendo los riesgos a la salud y seguridad de nuestros colaboradores, cuidando el medio ambiente, y mejorando continuamente para satisfacer a nivel de excelencia las necesidades de nuestros clientes.
                        .swiper-slide
                            p.paragraph_sabro Estamos comprometidos en producir y comercializar pollo, huevo y alimento balanceado para animales con la más alta calidad e inocuidad, cumpliendo con los requisitos legales aplicables, previniendo los riesgos a la salud y seguridad de nuestros colaboradores, cuidando el medio ambiente, y mejorando continuamente para satisfacer a nivel de excelencia las necesidades de nuestros clientes.
                        .swiper-slide
                            p.paragraph_sabro Estamos comprometidos en producir y comercializar pollo, huevo y alimento balanceado para animales con la más alta calidad e inocuidad, cumpliendo con los requisitos legales aplicables, previniendo los riesgos a la salud y seguridad de nuestros colaboradores, cuidando el medio ambiente, y mejorando continuamente para satisfacer a nivel de excelencia las necesidades de nuestros clientes.
                    .swiper-pagination
            


    include ../shared/footer.pug