#productos
    .slideshow_wrapper
        .swiper-wrapper
            .swiper-slide
                .media_container(style="background-image: url('../assets/img/muslo.jpg')")
                    .overlay
                .info_container
                    h1.tile linea suprema
                        img.salpicon(src="../assets/img/salpicon.svg", alt="")
                    p.description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore deleniti assumenda placeat eius a praesentium ipsum qui adipisci molestiae.
                    a.cta(href="./recetas.html") ver más recetas


            .swiper-slide
                .media_container(style="background-image: url('../assets/img/portada_productos.jpg')")
                    .overlay
                .info_container
                    h1.tile pollo canal
                        img.salpicon(src="../assets/img/salpicon.svg", alt="")
                    p.description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni iure accusamus cum quaerat illum ab.
                    a.cta(href="./recetas.html") ver más recetas
                
            .swiper-slide
                .media_container(style="background-image: url('../assets/img/portada_sabropollo.jpg')")
                    .overlay
                .info_container
                    h1.tile partes de pollo
                        img.salpicon(src="../assets/img/salpicon.svg", alt="")
                    p.description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore deleniti assumenda placeat eius a praesentium ipsum qui adipisci molestiae.
                    a.cta(href="./recetas.html") ver más recetas
                

        .swiper_navigation
            .nav_left
                img(src="../assets/img/arrow-white.svg", alt="")
            .nav_right
                img(src="../assets/img/arrow-white.svg", alt="")

        .scroll_icon
            svg(width='39px', height='29px', viewBox='0 0 39 29')    
                polyline#pscroll-1(points='12,0 19,7 26,0')
                polyline#pscroll-2(points='7,4 19,16 31,4')
                polyline#pscroll-3(points='0,8 18.5,26 37,8')

    .section_content.container-fluid
        .top_section_mask
            svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1919 256.6" style="enable-background:new 0 0 1919 256.6;" xml:space="preserve")
                
                path#ondita.st1(d='M1919,0v256.6H0V0C0,0,910.7,506.8,1919,0z')
                path#planicie.st1(d='M1919,228.4v28.2H0v-28.2H1919z')
                
        .row.justify-content-center
            .col-xs-12.col-lg-10.text-center
                .title_sabro
                    h2 productos
                        img.salpicon(src="../assets/img/salpicon-black.svg", alt="")
                    img.menu_selected(src="../assets/img/menu_selected.svg", alt="")
                
                .categorias_producto
                    a.catname_producto.cat_selected(href="") pollo canal
                    .sepcat
                    a.catname_producto(href="") partes de pollo 
                    .sepcat
                    a.catname_producto(href="") deshuesados
                    .sepcat
                    a.catname_producto(href="") aplanados
                    .sepcat
                    a.catname_producto(href="") linea suprema
                    .sepcat
                    a.catname_producto(href="") menudencias y otros productos

            
    .container-fluid
        .row.justify-content-center
            .col-xs-12.col-lg-10
                .row.producto_grid



                    .col-xs-12.col-md-12.product_container#producto1
                        .row.product_wrapper
                            .col-md-5.col-xs-12
                                .left_prod
                                    img.product_image(src="../assets/img/foto_pechuga.jpg", alt="")
                                    .receta_disponible
                                        img(src="../assets/img/receta_disponible.svg", alt="")

                            .col-md-7
                                .row 
                                    .col-md-12
                                        h1.product_name Pollo sin menudencias

                                    .col-md-6
                                        img.spec_img(src="../assets/img/prod_icon_badge.svg", alt="")
                                        span.spec_name Descripción
                                        .spec_content Pechuga sin piel, de pollo amarillo fresco, de primera calidad. Corte anatómico en la coyuntura con las alas y del costillar por la mitad.

                                        img.spec_img(src="../assets/img/prod_icon_dish.svg", alt="")
                                        span.spec_name Presentaciones
                                        .spec_content Charola de aprox. 453 g / Charola de aprox. 735 g  

                                        img.spec_img(src="../assets/img/prod_icon_heart.svg", alt="")
                                        span.spec_name Beneficios
                                        .spec_content Por su aporte de proteína, grasas saludables, vitaminas y minerales, Sabrohuevo es un alimento esencial que debe estar presente en tu alimentación. 
                                        
                                        img.spec_img(src="../assets/img/prod_icon_fork.svg", alt="")
                                        span.spec_name Sugerencias de preparación 
                                        .spec_content Hamburguesas, albóndigas, nuggest, pastel de carne.
                                        
                                        img.spec_img(src="../assets/img/prod_icon_fire.svg", alt="")
                                        span.spec_name Sugerencias de cocción 
                                        .spec_content Cocer, freir, asar, hornear.

                                        

                                    .col-md-6
                                        img.spec_img(src="../assets/img/prod_icon_plus.svg", alt="")
                                        span.spec_name Información nutrimental 
                                        .spec_content Tamaño porción 
                                            span.nutri_value 100 gr
                                        .spec_content Contenido energético 
                                            span.nutri_value 764.3 kJ / 183.5 kcal
                                        .spec_content Proteínas 
                                            span.nutri_value 16.84 g
                                        .spec_content Grasas Totales 
                                            span.nutri_value 12.57 g
                                        .spec_content Grasas Saturadas 
                                            span.nutri_value 3.97 g
                                        .spec_content Carbohidratos Totales 
                                            span.nutri_value 0.76 g
                                        .spec_content Azúcares 
                                            span.nutri_value 0.00 g
                                        .spec_content Fibra Dietética 
                                            span.nutri_value 0.00 g
                                        .spec_content Sodio 
                                            span.nutri_value 90.00 mg

                                        a.spec_cta(href="./recetas-single.html") ver receta
                    
                    
                    
                    .col-xs-12.col-md-12.product_container#producto2
                        .row.product_wrapper
                            .col-md-5.col-xs-12
                                .left_prod
                                    img.product_image(src="../assets/img/foto_pollo.jpg", alt="")
                                    .receta_disponible
                                        img(src="../assets/img/receta_disponible.svg", alt="")

                            .col-md-7
                                .row 
                                    .col-md-12
                                        h1.product_name Pollo sin menudencias

                                    .col-md-6
                                        img.spec_img(src="../assets/img/prod_icon_badge.svg", alt="")
                                        span.spec_name Descripción
                                        .spec_content Pechuga sin piel, de pollo amarillo fresco, de primera calidad. Corte anatómico en la coyuntura con las alas y del costillar por la mitad.

                                        img.spec_img(src="../assets/img/prod_icon_dish.svg", alt="")
                                        span.spec_name Presentaciones
                                        .spec_content Charola de aprox. 453 g / Charola de aprox. 735 g  

                                        img.spec_img(src="../assets/img/prod_icon_heart.svg", alt="")
                                        span.spec_name Beneficios
                                        .spec_content Por su aporte de proteína, grasas saludables, vitaminas y minerales, Sabrohuevo es un alimento esencial que debe estar presente en tu alimentación. 
                                        
                                        img.spec_img(src="../assets/img/prod_icon_fork.svg", alt="")
                                        span.spec_name Sugerencias de preparación 
                                        .spec_content Hamburguesas, albóndigas, nuggest, pastel de carne.
                                        
                                        img.spec_img(src="../assets/img/prod_icon_fire.svg", alt="")
                                        span.spec_name Sugerencias de cocción 
                                        .spec_content Cocer, freir, asar, hornear.

                                        

                                    .col-md-6
                                        img.spec_img(src="../assets/img/prod_icon_plus.svg", alt="")
                                        span.spec_name Información nutrimental 
                                        .spec_content Tamaño porción 
                                            span.nutri_value 100 gr
                                        .spec_content Contenido energético 
                                            span.nutri_value 764.3 kJ / 183.5 kcal
                                        .spec_content Proteínas 
                                            span.nutri_value 16.84 g
                                        .spec_content Grasas Totales 
                                            span.nutri_value 12.57 g
                                        .spec_content Grasas Saturadas 
                                            span.nutri_value 3.97 g
                                        .spec_content Carbohidratos Totales 
                                            span.nutri_value 0.76 g
                                        .spec_content Azúcares 
                                            span.nutri_value 0.00 g
                                        .spec_content Fibra Dietética 
                                            span.nutri_value 0.00 g
                                        .spec_content Sodio 
                                            span.nutri_value 90.00 mg

                                        a.spec_cta(href="./recetas-single.html") ver receta
                    
                    
                    .col-xs-12.col-md-12.product_container#producto3
                        .row.product_wrapper
                            .col-md-5
                                .left_prod
                                    img.product_image(src="../assets/img/foto_pechuga.jpg", alt="")
                                    .receta_disponible
                                        img(src="../assets/img/receta_disponible.svg", alt="")

                            .col-md-7
                                .row 
                                    .col-md-12
                                        h1.product_name Pollo sin menudencias

                                    .col-md-6
                                        img.spec_img(src="../assets/img/prod_icon_badge.svg", alt="")
                                        span.spec_name Descripción
                                        .spec_content Pechuga sin piel, de pollo amarillo fresco, de primera calidad. Corte anatómico en la coyuntura con las alas y del costillar por la mitad.

                                        img.spec_img(src="../assets/img/prod_icon_dish.svg", alt="")
                                        span.spec_name Presentaciones
                                        .spec_content Charola de aprox. 453 g / Charola de aprox. 735 g  

                                        img.spec_img(src="../assets/img/prod_icon_heart.svg", alt="")
                                        span.spec_name Beneficios
                                        .spec_content Por su aporte de proteína, grasas saludables, vitaminas y minerales, Sabrohuevo es un alimento esencial que debe estar presente en tu alimentación. 
                                        
                                        img.spec_img(src="../assets/img/prod_icon_fork.svg", alt="")
                                        span.spec_name Sugerencias de preparación 
                                        .spec_content Hamburguesas, albóndigas, nuggest, pastel de carne.
                                        
                                        img.spec_img(src="../assets/img/prod_icon_fire.svg", alt="")
                                        span.spec_name Sugerencias de cocción 
                                        .spec_content Cocer, freir, asar, hornear.

                                        

                                    .col-md-6
                                        img.spec_img(src="../assets/img/prod_icon_plus.svg", alt="")
                                        span.spec_name Información nutrimental 
                                        .spec_content Tamaño porción 
                                            span.nutri_value 100 gr
                                        .spec_content Contenido energético 
                                            span.nutri_value 764.3 kJ / 183.5 kcal
                                        .spec_content Proteínas 
                                            span.nutri_value 16.84 g
                                        .spec_content Grasas Totales 
                                            span.nutri_value 12.57 g
                                        .spec_content Grasas Saturadas 
                                            span.nutri_value 3.97 g
                                        .spec_content Carbohidratos Totales 
                                            span.nutri_value 0.76 g
                                        .spec_content Azúcares 
                                            span.nutri_value 0.00 g
                                        .spec_content Fibra Dietética 
                                            span.nutri_value 0.00 g
                                        .spec_content Sodio 
                                            span.nutri_value 90.00 mg

                                        a.spec_cta(href="./recetas-single.html") ver receta
                                        




                    


    include ../shared/footer.pug