.categorias_producto {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0 120px;

    .catname_producto:first-child {
        border-left: 0 solid #5d5d5d;
    }
    .catname_producto {
        font-size: 1.3em;
        font-weight: 500;
        color: #5d5d5d;
        text-transform: capitalize;
        text-decoration: none;
        border-left: 1px solid #5d5d5d;
        padding-left: 20px;
    }

    .cat_selected {
        font-weight: 600;
        color: black;
    }
}
