.section_title {
    position: relative;
    display: inline-block;

    @include media-breakpoint-only(sm) {
        width: 100%;
    }

    h1 {
        font-family: "Blog";
        font-size: 7.5em;
        text-transform: capitalize;
        position: relative;
        color: white;

        @include media-breakpoint-only(sm) {
            font-size: 8vw;
            line-height: 1.3em;
            width: 83%;
            text-align: center;
            margin: 0 auto;
        }
    }
    .salpicon {
        top: 20%;
        right: -16%;
        width: 74px;

        @include media-breakpoint-only(sm) {
            width: 70px;
            top: -18px;
            right: 22px;
            width: 36px;
        }
    }
}

.sabrotips_titles {
    margin: 30px 0 50px;

    h2 {
        font-size: 2.2em;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0 0 10px;

        @include media-breakpoint-only(sm) {
            font-size: 1.8em;
        }
    }
    p {
        font-size: 1.3em;
        margin: 0;

        @include media-breakpoint-only(sm) {
            font-size: 1em;
        }
    }
}

.sabrotips_grid {
    margin: 0 0 120px;

    .tips_box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 500px;

        @include media-breakpoint-only(sm) {
            min-height: 300px;
        }

        img.tips_image {
            width: 35%;
            margin-bottom: 30px;

            @include media-breakpoint-only(sm) {
                width: 28%;
            }
        }

        p.tips_description {
            width: 55%;
            font-size: 1.6em;
            text-align: center;
            margin: 0;

            @include media-breakpoint-only(sm) {
                font-size: 1em;
            }
        }
    }
}
