extends layout/layout.pug
block title
    title Sabropollo | Contacto

block content

    main(data-namesection="contacto")

        include shared/header.pug
        
        include modules/_contacto.pug
            
   
        
    
        

    
