extends layout/layout.pug
block title
    title Sabropollo | Expendios

block content

    main(data-namesection="contacto")

        include shared/header.pug
        
        include modules/_expendios.pug
            
   
        
    
        

    
