extends layout/layout.pug
block title
    title Sabropollo | Productos

block content

    main(data-namesection="productos")

        include shared/header.pug
        
        include modules/_productos.pug
            
   
        
    
        

    
