extends layout/layout.pug
block title
    title Sabrohuevo | Sabrotips

block content

    main(data-namesection="sabrotips")

        include shared/header.pug
        
        include modules/_sabrotips.pug
            
   
        
    
        

    
